
/* Grid CSS */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
/*Hero Block */
.hero {
    margin-top: 5%;
}
.heroLeft {
    padding: 0%;
    background-color:#221D1D;
}
.heroRight {
    padding: 0%;
}
#leftImage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#rightImage {
    position: relative;
}

/* Hero Typography */

#archiHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #AF9574;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: -25px;
  left: -10px;
}
#uxerHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1rem;
    text-transform: uppercase;
    color:#AF9574;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 75px;
  left: 200px;
}
#heroSubheaderOne {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #AF9574;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 140.5px;
  left: 190px;

}
#heroSubheaderTwo {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #AF9574;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 175.5px;
  left: 175px;
}
#btn-inspiration {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: .85rem;
    text-transform: uppercase;
    color: #AF9574;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: -5px;
}
/* Visual Storyteller */
.visualContainer {
    
}

.visualBlock {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
}
.visualList {
    font-family: 'Old Standard TT', sans-serif;
    text-transform: uppercase;
    color: #707070;
}
#passion {
    padding-top: 95px;
    padding-bottom: 50px;
}
#evolution {
    padding-bottom: 50px;
}
#explorer {
    padding-bottom: 50px;
}
#creativity {
    padding-bottom: 50px;
}
.visualStory {
    margin-top: 8.5%;
    margin-bottom: 0;
    padding-bottom: 0;
}
h1 {
    color: #AF9574;
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: right;
    padding-right: 10%;
}


/* Thoughts Row */
.thoughtsRow {
    height: 425px;
    background-color:#D9D5D5;
}

#headerTwo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #AF9574;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(-90deg);
    border-bottom: 1px solid;
    border-color: black;
    position: absolute;
    bottom: -25.5vh;
    left: 0;
    margin-left: 0;
    }
#thoughtsContent { 
  justify-content: center; 
    color: #4B4B4B;
    line-height: 2rem;
    font-size: 18px;
    position: absolute;
    margin-top: 100px;
    padding-left: 175px;
    }
#btnThoughts {
    text-align: justify;
    position: relative;
    text-transform: uppercase;
    }
/* Medium Case Cards */
#borderMedium {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: black;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 5px;
}
.caseContainer {
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 55px;
    background-color: #E2E1E1;
}
.card-body {
    height:200px;
    margin-bottom: 20px;
}
    
/* Media Queries */


@media only screen and (min-device-width: 800px) {
    #heroSubheaderOne {
        font-size: .65rem;
    }
    #heroSubheaderTwo {
        font-size: .65rem;
    }
    #uxerHeader {
        left: 150px;
    }
    #archiHeader {
    }
}
@media only screen and (min-device-width:768px) {
    #uxerHeader {
        left: 170px;
        font-size: 2.95rem;
    }
    #archiHeader {
        left: 20px;
        font-size: 2.95rem;
    }
    #heroSubheaderOne {
        font-size: .65rem;
    }
    #heroSubheaderTwo {
        font-size: .65rem;
    }
    /* Visual Story */
    .visualStory {
        margin-top: 4.5%;
    }
    #passion {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    #evolution {
        padding-bottom: 25px;
    }
    #creativity {
        padding-bottom: 25px;
    }
}
@media only screen and (max-width:1000px) {
    #heroSubheaderOne {
        left: 190px;
    }
    #heroSubheaderTwo {
        top: 165px;
        left: 145px;
    }
}
@media only screen and (max-width:1350px) {
    #heroSubheaderOne {
        top: 140.5px;
    }
    #heroSubheaderTwo {
        top: 165px;
        left: 175px;
    }
}
@media only screen and (max-width: 1650px) {
    h1 {
        font-size: 2.5rem;
    }
    #passion {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    #evolution {
        padding-bottom: 40px;
    }
    #explorer {
        padding-bottom: 40px;
    }
    #creativity {
        padding-bottom: 40px;
    }

}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen and (max-width: 480px) {
    #archiHeader {
        left: 70px;
    }
    #heroSubheaderOne {
        left: 180px;
    }
    #heroSubheaderTwo {
        top: 200px;
        left: 170px;
    }
}
@media screen and (max-width:360px) {
    #heroSubheaderOne {
        top: 155px;
        left: 155px;
    }
}





