
/* Grid CSS */
body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #fcfbfa;
}
.btn-primary {
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-left: 5px;
}
.btn-primary:hover {
    background-color: transparent;
} 
/*about me */
h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
    color: #AF9574;
    }
p {
    color: #4B4B4B;
    line-height: 2.0rem;
    font-size: 16px;
}
#cardHeader {
    font-family: 'raleway',sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 100px;
    padding-bottom: 0;
    margin-bottom: 50px;
}
/* Navigation Bar */
.navbar {
    text-transform: uppercase;
    color: #4B4B4B;
}
.navbar-brand {
    color: #4B4B4B;
    font-size: 1rem;
}
.nav {
    color: #4B4B4B;
    margin-top: 150px;
    width: 35%;
    padding-left:0;
    padding-right: 0;
    margin-right: 120px;
}
 .navName {
     color: #4B4B4B;
     border-bottom: 1px solid #AF9574;
 }
 .navName:hover {
     border-bottom: 1px solid black ;
     text-decoration: none;
     color: #4B4B4B;
 }
 .navbar-brand:hover{
     color: #AF9574;
     text-decoration: none;
 }

/* Intro */
.aboutImg {
    background-color: white;
    position: relative;
    margin-top: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Hero Typography */

#archiHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:120px;
    text-transform: uppercase;
    color: #BFAA90;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: -95px;
  left: -400px;
}
#uxerHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:120px;
    text-transform: uppercase;
    color:#BFAA90;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 125px;
  left: 50px;
}
#heroSubheaderOne {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #BFAA90;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 250px;
  left: 150px;
}
#heroSubheaderTwo {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #BFAA90;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center; 
  justify-content: center; 
  position: absolute;
  top: 300px;
  left: 125px;
}

/* Cards */
.case {
    background-color: #FCFBFA;
    margin-bottom: 150px;
}
.card {
    background-color:transparent;
    border-radius: 0px;
    border: none;
}
.card-text {
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 15px;
}
.card-text:hover {
    color: #AF9574;
}
.btnCase {
    text-align: center;
    color: black;
}
.btnCase:hover {
    text-decoration: none;
    color:#AF9574;
}
.cardImg:hover {
    transition: 8s;
    transform: scale(1.1);
}

/* Visual Storyteller */
.visualContainer {
    background-color: white;
}
#visualBlock {
    position: relative;
    display: block;
}
.visualList {
    font-family: 'Old Standard TT', sans-serif;
    text-transform: uppercase;
    color: #707070;
    margin-bottom: 0;
    padding-bottom: 0;
}
#passion {
    padding-top: 25%;
    padding-bottom: 50px;
}
#evolution {
    padding-bottom: 50px;
}
#explorer {
    padding-bottom: 50px;
}
#creativity {
    padding-bottom: 50px;
}
#teamwork {
    padding-bottom: 0;
    margin-bottom: 0;
}
.visualHeader {
    color: #AF9574;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    top: 25%;
    right: 15%;
}
/* Thoughts Row */
.thoughtsRow {
    padding-top: 0;
    margin-top: 0;
    height: 550px;
    background-color:#EDEAEA;
    transition: all .3s ease-out;
}
#headerTwo {
    text-transform: uppercase;
    font-weight: 900px;
    font-family: 'Raleway', sans-serif;
    color: #AF9574;
    font-size: 1.25rem;
    font-weight: bold;
    transform: rotate(-90deg);
    border-bottom: 1px solid;
    border-color: black;
    position: absolute;
    padding-left: 0;
    margin-left: 0;
    bottom: -130px;
    left: 5px;
    }
.quotationMark {
    margin: 0;
    padding:0;
    position: absolute;
    top:-90px;
    left: 200px;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 150px;
    color: #7E7E7E;
}
#thoughtsContent { 
    position: relative;
    top: 20px;
    padding-left: 15%;
 }
#btnThoughts {
    position: relative;
    top: 55px;
    left: 80.5%;
}

#btnThoughts:hover {
    color:#AF9574;
    text-decoration: none;
}
.chevronThoughts {
     color: black;
}
.chevronThoughts:hover {
    color:#AF9574;
}
.btnMedium:hover {
    color: #AF9574;
}

/* About Me */
.borderAbout {
    margin-top: 250px;
    border: 0.5px solid #AF9574;
    margin-bottom: 0;
}
.rowHeader {
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 200px;
}
.contentAbout {
    text-align: left;
    margin-right: 150px;
}
.chevronTop {
    font-size: 35px;
    color: #AF9574;
    position:absolute;
    right: 200px;
    padding-top: 100px;
    margin-bottom: 200px;
}
.chevronTop:hover {
    opacity: 75%;
}
.btnResume {
    color: black;
}
.btnResume:hover{
    color: #AF9574;
}
.chevronAbout {
    color: black;
}
.chevronAbout:hover {
    color: #AF9574;
}
/* Media Queries */
@media only screen and (max-width: 1650px) {
    h1 {
        font-size: 2.5rem;
    }
    #passion {
        padding-bottom: 40px;
    }
    #evolution {
        padding-bottom: 40px;
    }
    #explorer {
        padding-bottom: 40px;
    }
    #creativity {
        padding-bottom: 40px;
    }
    #teamwork {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #btnThoughts {
        left: 80.5%;
        }
    #thoughtsContent {
        left:20px;
    }
    h3 {
        top: 300px;
    }
    .card-text {  
        top: 350px;
    }
}
@media only screen and (max-width:1350px) {  
    .nav {
        width: 45%;
    }
    #archiHeader {
        top: -100px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #uxerHeader {
        padding-bottom: 0;
        margin:0;
        top:95px;
    }
    #heroSubheaderOne {
        top: 220px;
        left: 150px;
    }
    #heroSubheaderTwo {
        top: 270px;
        left: 140px;
    }
    .visualHeader {
        font-size: 3.5rem;
    }
    #passion {
        padding-top: 25px;
    }
    #headerTwo {
        bottom: -165px;
    }
    #thoughtsContent {
        left: 45px;
        padding-right: 0;
    }
}
@media only screen and (max-width:1250px){
    .nav {
        width: 100%;
    }
}
@media only screen and (max-width:1150px){
    #archiHeader {
        font-size:100px;
    }
    #uxerHeader {
        font-size: 100px;
        top: 75px;
        left: -25px;
    }
    #heroSubheaderOne {
        top: 200px;
        left: 30px;
    }
    #heroSubheaderTwo {
        top: 240px;
        left: 15px;
    }
}
/* ipad */
@media only screen and (max-width:1060px){
    #uxerHeader {
        top: 95px;
    }
    #heroSubheaderOne {
        top: 215px;
    }
    #heroSubheaderTwo {
        top: 245px;
    }
    .visualHeader {
        font-size: 3.5rem;
        top: 20%;
        left: -5%;
    }
    #passion {
        padding-top:30px;
        padding-bottom: 30px;
    }
    #evolution {
        padding-bottom: 30px;
    }
    #explorer {
        padding-bottom: 30px;
    }
    #creativity {
        padding-bottom: 30px;
    }
    .quotationMark {
        left: 200px;
    }
    #thoughtsContent {
        left: 65px;
    }
}
@media only screen and (max-width: 990px) {
    #archiHeader {
        font-size: 90px;
    }
    #uxerHeader {
        font-size: 90px;
        top: 100px;
        left: -70px;
    }
    #heroSubheaderOne {
        top: 210px;
        left: -45px;
    }
    #heroSubheaderTwo {
        top: 250px;
        left: -65px;
       
    }
    #btn-inspiration {
        font-size: .75rem;
    }
    #btnThoughts {
        top: 30px;
        left: 500px;
    }
}


@media only screen and (max-width:923px){ 

    .visualHeader {
        font-size: 3rem;
        top: 15%;
    }
    .visualList {
        font-size: .85rem;
    }
    #passion {
        padding-bottom: 25px;
    }
    #evolution {
        padding-bottom: 25px;
    }
    #explorer {
        padding-bottom: 25px;
    }
    #creativity {
        padding-bottom: 25px;
    }
    #thoughtsContent {
        font-size: 18px;

    }
    #btnThoughts {
        top: 30px;
        left: 500px;
    }
    .quotationMark {
        font-size: 130px;
        left: 170px;
    }
}
@media only screen and (max-width:880px) {
    #archiHeader {
        top: -60px;
    }
    #uxerHeader {
        top: 110px;
    }
}

@media only screen and (max-width:800px) {
    #archiHeader {
        font-size: 80px;
        top: -50px;
        left: -300px;
    }
    #uxerHeader {
        font-size: 80px;  
    }
    #heroSubheaderOne {
        left: -65px;
    }
    #heroSubheaderTwo {
        left: -80px;
    }
    
    .visualList {
        font-size: .85rem;
    }
    #passion {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    #evolution {
        padding-bottom: 20px;
    }
    #explorer {
        padding-bottom: 20px;
    }
    #creativity {
        padding-bottom: 20px;
    }
    #teamwork {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
/* Portrait and Landscape */
@media screen and (max-width: 768px) {
    #archiHeader {
      font-size: 70px;
      top: -25px;
    }
    #uxerHeader {
      font-size: 70px;
    }
    .visualHeader {
        font-size: 2.7rem;
    }
    .visualList {
        text-align: right;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px
    }
    #headerTwo {
        padding-left: 0;
        padding-right: 0;
        bottom: -180px;
        left: -55px;
    }
    .quotationMark {
        padding-left: 0;
        padding-bottom: 0;
        left: 130px;
    }
    #thoughtsContent { 
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        top: 20px;
        padding-right: 0;
        margin-right: 0;
        left: 100px;
    }
}
@media screen and (max-width:760px) {
    #visualBlock {
        display: none;
    }
    .visualHeader {
        font-size: 2rem;
    }
    #passion {
        padding-top: 30px;
        padding-left: 20px;
    }
    .thoughtsColumn {
        margin: 0;
        padding: 0;
    }
    #headerTwo {
        display: none;

    }
    .quotationMark {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        left: 40px;
        font-size: 150px;
    }
    #thoughtsContent { 
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        top: 20px;
        left: 40px;
        padding-right: 75px;
        text-align: justify;
    }
    #btnThoughts {
        left: 55%;
    }
}
@media screen and (max-width:650px){
    #archiHeader {
        font-size: 60px;
        top: 25px;
        left: -250px;
    }
      #uxerHeader {
          font-size: 60px;
          top: 120px;
          left: -25px;
    }
      #heroSubheaderOne {
          top: 200px;
          font-size: 14px;
          left: -50px;
    }
      #heroSubheaderTwo {
          top: 235px;
          left: -70px;
          font-size: 14px;
         
    }
}

/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
@media screen and (max-width: 580px) {
    #cardHeader {
        display: none;
    }
    .aboutImg {
        display: none;
    }
    #archiHeader {
       display: none;
    }
      #uxerHeader {
         display: none;
    }
      #heroSubheaderOne {
          display: none;
    }
      #heroSubheaderTwo {
         display: none;
    }
    #headerTwo {
        bottom: -300px;
        left: -90px;
    }
    .card {
        margin-top: 100px;
    }
    .quotationMark {
        font-size: 150px;
        position: absolute;
        left: 70px;
        padding-top: 0;
        margin-top: 0;
    }
    .visualHeader {
        font-size: 2rem;
    }
    #visualBlock {
        display: none;
    }
    .visualList {
        text-align: right;
        padding-right: 20px;
    }
    .thoughtsRow {
        height: 800px;
    }
    #thoughtsContent {
        font-size: 16px;
        line-height: 2rem;
        top: 35px;
        left: 55px;
    }
    .quotationMark {
        top: -55px;
        left: 55px;
        font-size: 120px;
    }
    #headerTwo {
        bottom: -250px;
    }
    #btnThoughts {
        left: 15.5%;
    }
    .rowHeader {
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .contentAbout {
        text-align: left;
        margin-right: 20px;
    }
}
@media screen and (max-width:480px) {
    #archiHeader {
        font-size: 40px;
        top: 35px;
        left: -160px;
      }
      #uxerHeader {
          font-size: 40px;
          top: 120px;
          left: -25px;
      }
      #heroSubheaderOne {
          top: 190px;
          left: -85px;
      }
      #heroSubheaderTwo {
          top: 225px;
          left: -100px;
          font-size: 14px;
      }
    #headerTwo {
        bottom: -300px;
        left: -90px;
    } 
}


@media screen and (max-width:320px) {
    #visualBlock {
        display: none;
    }
    .visualHeader {
        font-size: 2rem;
    }
    .visualList {
        padding-top: 0;
        text-align: right;
    }
    .thoughtsRow {
        height: 650px;

    }
    #headerTwo {
        bottom: -310px;
    }
}




